/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, .navigation, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, .navigation, section {
	display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Myriad Pro Condensed", Helvetica, Arial, sans-serif!important;
    color: black !important;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.cb {
	clear: both;
}

a {
	text-decoration: none;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol, li {
	list-style-type: none;
}

input, textarea {
	outline: none;
}

p {
	font-size: 17px;
}

#facebook  {
  width: 38px;
  height: 34px;
}

#instagram {
  width: 38px;
  height: 34px;
}

#flickr  {
  width: 39px;
  height: 34px;
}

.adtv img {
  width: 44px;
  height: 40px;
  float: left;
  margin-left: 30px;
}

.logo {
  width: 338px;
  height: 111px;
  z-index: 329;
}

/* TOP Navigation */

.navigation {
	overflow: visible;
    z-index: 200;
    position: relative;
	margin: 0px auto; 
	text-align: center;
	font-size: 26px;
}

.navigation ul ul {
	display: none;
}

	.navigation ul li:hover > ul {
		display: block;
	}


.navigation ul {
	padding: 0 0px;
	list-style: none;
	position: relative;
	display: inline-table;
	margin-bottom: 0;
}
	.navigation ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

	.navigation ul li {
		float: left;
	}
		.navigation ul li:hover {
			border-top-left-radius: 1em;
			border-top-right-radius: 1em;
			background: #4b545f;
			background: linear-gradient(top, #4D3419 0%, #715D47 40%);
			background: -moz-linear-gradient(top, #4D3419 0%, #715D47 40%);
			background: -webkit-linear-gradient(top, #4D3419 0%,#715D47 40%);
		}
			.navigation ul li:hover a {
				color: #fff;
			}
		
		.navigation ul li a {
			display: block; 
			padding: 5px 20px;
			color: #757575; 
			text-decoration: none;
		}
			
	.navigation ul ul {
		background: #715D47; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
	}
		.navigation ul ul li {
			float: none; 
			border-top: 1px solid #4D3419;
			border-bottom: 1px solid #5F4830; 
			position: relative;
		}
			.navigation ul ul li a {
				padding: 5px 20px;
				color: #fff;
			}	
				.navigation ul ul li a:hover {
					background: #4D3419;
					text-decoration: none;
				}


.image {
	z-index: 100;
	position: absolute;
}

.text {
    position:relative;
}

.text img {
	width: 100%;
	height: 509px;
	float: left;
    left:0;
    top:0;
}

.articles {
    z-index: 100;
    position: absolute;
    margin-left: 470px;
    margin-right: 60px;
}

article h1 a {
	color: #f15b23;
	font-size: 46px;
}

article h1 a:hover {
	color: #f15b23;
	text-decoration: none;
}

article p {
	font-size: 17px;
}

.article-meta-categories {
	margin-top: 25px;
}

.article-meta-categories a {
	color: black;
}

.article-meta-categories a:hover {
	text-decoration: none;
	color: black;
}

.footer-nav {
	overflow: visible;
    z-index: 200;
    position: relative;
	margin: 0px auto; 
	text-align: center;
}
	.footer-nav ul li:hover > ul {
		display: block;
	}


.footer-nav ul {
	padding: 0 0px;
	list-style: none;
	position: relative;
	display: inline-table;
	margin-bottom: 0;
	font-size: 21px;
}
	.footer-nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

	.footer-nav ul li {
		float: left;
	}
			.footer-nav ul li:hover a {
				color: black;
			}
		
		.footer-nav ul li a {
			display: block; 
			padding: 5px 20px;
			color: #757575; 
			text-decoration: none;
		}
			